<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xupt.tmp.mapper.ClazzMapper">
    <insert id="insert" parameterType="com.xupt.tmp.model.Clazz">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO `clazz`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `name`,
            `course_id`,
            `students`
        </trim>
        VALUES
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            #{name, jdbcType=VARCHAR},
            #{courseId, jdbcType=BIGINT},
            #{students, jdbcType=VARCHAR}
        </trim>
    </insert>

    <select id="selectClazzsByCourseIds" resultType="com.xupt.tmp.model.Clazz">
        SELECT `id`,`course_id`,`name` FROM clazz
        <where>
            <if test="list != null and list.size > 0">
                course_id in
                <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
