<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xupt.tmp.mapper.GradeExtMapper">
    <insert id="insert" parameterType="com.xupt.tmp.model.GradeExt">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO `grade_ext`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `username`,
            `title`,
            `clazz_id`,
            `course_id`,
            `type`,
            `grade`
        </trim>
        VALUES
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            #{username, jdbcType=VARCHAR},
            #{title, jdbcType=VARCHAR},
            #{clazzId, jdbcType=BIGINT},
            #{courseId, jdbcType=BIGINT},
            #{type},
            #{grade}
        </trim>
    </insert>

</mapper>
