<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xupt.tmp.mapper.NoticeMapper">
    <insert id="inster" parameterType="com.xupt.tmp.model.Notice">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO `notice`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `name`,
            `content`,
            `create_id`,
            `course_id`,
            `clazz_id`,
            `weight`,
            `status`,
            `update_time`,
            `create_time`
        </trim>
        VALUES
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            #{name, jdbcType=VARCHAR},
            #{content, jdbcType=VARCHAR},
            #{createId, jdbcType=VARCHAR},
            #{courseId, jdbcType=BIGINT},
            #{clazzId, jdbcType=BIGINT},
            #{weight, jdbcType=INTEGER},
            #{status, jdbcType=INTEGER},
            #{updateTime, jdbcType=DATE},
            #{createTime, jdbcType=DATE}
        </trim>
    </insert>

    <select id="getNoticeByCourseIds" resultType="com.xupt.tmp.model.Notice">
        SELECT * FROM notice
        <where>
            <if test="list != null and list.size > 0">
                course_id in
                <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
