<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xupt.tmp.mapper.QuestionPaperMapper">

    <insert id="insert" parameterType="com.xupt.tmp.model.QuestionPaper">
        <!--        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
        <!--            SELECT LAST_INSERT_ID() AS id-->
        <!--        </selectKey>-->
        INSERT INTO `question_paper`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `create_id`,
            `course_id`,
            `course_name`,
            `name`,
            `questions`,
            `status`
        </trim>
        VALUES
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            #{id, jdbcType=BIGINT},
            #{createId, jdbcType=VARCHAR},
            #{courseId, jdbcType=BIGINT},
            #{courseName, jdbcType=VARCHAR},
            #{name, jdbcType=VARCHAR},
            #{questions, jdbcType=VARCHAR},
            #{status, jdbcType=INTEGER}
        </trim>
    </insert>
</mapper>
