<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xupt.tmp.mapper.ReplyMapper">
    <insert id="insert" parameterType="com.xupt.tmp.model.Reply">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO `reply`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `username`,
            `name`,
            `clazz_id`,
            `course_id`,
            `start_time`,
            `end_time`,
            `type`,
            `update_time`,
            `create_time`
        </trim>
        VALUES
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            #{username, jdbcType=VARCHAR},
            #{name, jdbcType=VARCHAR},
            #{clazzId, jdbcType=BIGINT},
            #{courseId, jdbcType=BIGINT},
            #{startTime},
            #{endTime},
            #{type, jdbcType=BIGINT},
            #{updateTime},
            #{createTime}
        </trim>
    </insert>

</mapper>
